.icon-redes{
    font-size: 25px;
}

.icon-redes:hover{
    color: #ffc107;
}

.img-card-autos{
    width: 304px;
    height: 150px;
}

.img-card-camionetas{
    width: 304px;
    height: 170px;
}

.seccion-gris{
    background-color: #F1F1F1;
}
